root = true

[*]
charset = utf-8
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.{json,yml,yaml,props,csproj,sln,config}]
indent_size = 2

[*.g.cs]
generated_code = true
dotnet_analyzer_diagnostic.severity = none

[*.cs]
csharp_style_namespace_declarations = file_scoped:warning
csharp_style_var_when_type_is_apparent = true:suggestion
dotnet_sort_system_directives_first = true
